.content {
  width: 100%;
  height: 70px;
  transition: all 0.5s ease-out;
  background-color: var(--search-bg-color);
}

.content form {
  width: 70%;
}

.wikiIcon {
  fill: var(--bg-light-color);
}

.wikiIcon svg {
  min-width: 5rem;
  min-height: 5rem;
}

.fixed {
  top: 3rem;
  position: fixed;
  z-index: 5;
}

.center {
  margin-top: 10vh;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.btn-primary {
  border: 0;
  border-radius: 0;
  background-color: var(--menu-bg-color);
}

.btn-primary:disabled {
  border: 0;
  background-color: var(--bg-light-color);
}

.hidden {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  margin: 0;
}

.form-control{
  background-color: var(--search-input-bg);
  border-radius: 0;
  border: 0;
}

.form-control:focus, .btn:focus {
  box-shadow: 0 0 0 0;
  border: 0;
}

@media (max-width: 768px) {
  .wikiIcon svg {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .fixed {
    top: 7.2rem !important;
  }

  .justify-content-center {
    margin-top: 10px;
  }
}
